<div class="headerContainer">
    <div class="imgContainer">
        <div>
            <img class="image" src="../../../assets/images/logo.png" alt="">
        </div>
        <div>
            <mat-tab-group (selectedTabChange)="tabChanged($event)" animationDuration="1000ms">
                <mat-tab label="HOME" ></mat-tab>
                <mat-tab label="CLASSES"></mat-tab>
                <mat-tab label="WORKOUT PLANS"></mat-tab>
                <mat-tab label="DIET PLANS"></mat-tab>
                <mat-tab label="PROGRESS TRACKER"></mat-tab>
                <mat-tab label="OUR MEMBERS"></mat-tab>
                <mat-tab label="MY PROFILE"></mat-tab>
                <mat-tab label="CONTACT US"></mat-tab>
            </mat-tab-group>
        </div>
    </div>
</div>